/* Add custom funky styles here */
body {
  background: linear-gradient(180deg, #fdfbfb, #ebedee);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f472b6, #818cf8);
  border-radius: 10px;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}